@{
    ViewBag.Title = "Index";
    Project.DTO.Usuarios usuario = ViewBag.Usuario;
    double latitudLinea = 0;
    double longitudLinea = 0;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Google Map Location Picker</title>
    <!-- Bootstrap y Jquery -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- Fin -->
    <!-- Complementos de JQuery -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyB60bIrSUlI-80w4hhJ4tdLNj5LJMIpxKs"></script>
    <script src="~/Script/locationpicker.jquery.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @using (Html.BeginForm("Create", "Notificaciones"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label for="Direccion">Direccion</label>
                        <input type="text" id="Id" name="Id" hidden />
                        <input type="text" id="IdUsuario" name="IdUsuario" value="@usuario.Id" hidden />
                        <input type="text" id="Direccion" name="Direccion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Direccion">Descripcion de Incidencia</label>
                        <input type="text" id="Descripcion" name="Descripcion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div id="ModalMapPreview" style="width:100%; height:300px;" hidden></div>
                    </div>
                    <!-- Latitud y Longitud -->
                    <div class="form-group">
                        <label for="Lat">lat.:</label>
                        <input id="Latitud" name="Latitud" class="form-control" value="-17.99426" />
                        <label for="Long">long.:</label>
                        <input id="Longitud" name="Longitud" class="form-control" value="-70.251855" />
                    </div>
                    <!-- Botones -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Agregar</button>
                        <a href="~/Clientes/Index" class="btn btn-primary">Regresar</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
        var lat = '@latitudLinea';
        var long = '@longitudLinea';
        $('#ModalMapPreview').locationpicker({
            //radius: 0,
            //location: {
            //    latitude: lat,
            //    longitude: long
            //},
            enableAutocomplete: true,
            inputBinding: {
                latitudeInput: $('#Latitud'),
                longitudeInput: $('#Longitud'),
                locationNameInput: $('#Direccion')
            },
            onchanged: function (currentLocation, radius, isMarkerDropped) {
                $('#Direccion').html($('#ModalMapaddress').val());
            }
        });
        $('#ModalMap').on('shown.bs.modal', function () {
            $('#ModalMapPreview').locationpicker('autosize');
        });
    </script>
</body>
</html>

