@font-face {
    font-family: Carnas;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Carnas-Medium.otf') format("opentype");
}

body {
    font-family: Carnas, serif;
    font-size: 13px;
}
