
@{
    Project.DTO.Transporte transportes = ViewBag.Transportes;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rutas Google Maps</title>
    <!-- Bootstrap y Jquery -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- Fin -->
    <!-- Complementos de JQuery -->
    <script src="~/Script/locationpicker.jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB60bIrSUlI-80w4hhJ4tdLNj5LJMIpxKs&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_commutes_v2_c" async defer></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div id="ModalMapPreview" style="width:100%; height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function initMap() {
            var latTransporte = @transportes.Latitud;
            var lngTransporte = @transportes.Longitud;
            var map = new google.maps.Map(document.getElementById('ModalMapPreview'), {
                //center: new google.maps.LatLng(-17.99426, -70.251855),
                center: new google.maps.LatLng(latTransporte, lngTransporte),
                zoom: 14,
                heading: 90,
                tilt: 45
            });

            var infoWindow = new google.maps.InfoWindow;
            $(document).ready(function () {
                $.ajax({
                    url: "ListaRutas",
                    type: "GET",
                    dataType: "json",
                    success: function (datos) {
                        console.log(datos);
                        // recorrer los datos JSON y construir una tabla HTML
                        $.each(datos, function (index, fila) {
                            console.log(fila.Id, fila.Ubicacion1, fila.Latitud, fila.Longitud);
                            var idmapa = fila.Id;
                            var ubicacion = fila.Ubicacion1;

                            var point = new google.maps.LatLng(
                                parseFloat(fila.Latitud),
                                parseFloat(fila.Longitud));
                            const contentString =
                                '<div id="content">' +
                                '<div id="siteNotice">' +
                                "</div>" +
                                '<center>' +
                                '<h3 id="ubicacion">' + ubicacion + '</h3>' +
                                '</center>' +
                                '<br>' +
                                '<div id="bodyContent">' +
                                '<br>' +
                                "<p><b>" + ubicacion + "</p>" +
                                "</p>" +
                                "</div>" +
                                "</div>";

                            var marker = new google.maps.Marker({
                                map: map,
                                position: point,
                                //icon: image
                            });
                            marker.addListener('click', function () {
                                infoWindow.setContent(contentString);
                                infoWindow.open(map, marker);
                            });
                            var objConfigDR = {
                                map: map,
                                suppressMarkers: true
                            };
                            var objConfigDS = {
                                origin: new google.maps.LatLng(latTransporte, lngTransporte), // LatLng - string domicilio
                                destination: new google.maps.LatLng(fila.Latitud, fila.Longitud),
                                travelMode: google.maps.TravelMode.DRIVING
                            }
                            console.log(objConfigDS);
                            var ds = new google.maps.DirectionsService(); //Obtener coordenadas
                            var dr = new google.maps.DirectionsRenderer(objConfigDR); //traduce coordenadas a la ruta visible

                            ds.route(objConfigDS, rutear);
                            function rutear(resultados, status) {
                                //mostrar rutas con coordenadas
                                if (status == 'OK') {
                                    dr.setDirections(resultados);
                                } else {
                                    alert("Error " + status);
                                }
                            }
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
            });
        }
    </script>
</body>
</html>
